

body {
  margin: 0;
  font-family: Helvetica, Arial;
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

html, body {
  height: 100%;
}

#videoBox {
  margin: auto;
}

#header {
  padding-left: 15px;
  z-index: 20;
  position: fixed;
  float: left;
}

iframe {
  border-width: 0px;
  display: block;
  float: left;
}

h1 {
  font-size: 56px;
  display: block;
  color: deeppink;
}

#nextVideo {
  font-weight: 800;
  background-color: deeppink;
  width: 280px;
  padding: 10px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  line-height: 36px;
  font-size: 36px;
  cursor: pointer;
  display: block;
}

#nextVideo:hover, #nextVideo:active {
  background-color: black;
  color: deeppink;
}

#videoBox {
  position: relative;
  display: block;
}

@media screen and (max-width: 980px) {
  h1 {
    font-size: 28px;
  }
  #nextVideo {
    width: 150px;
    padding: 5px;
    line-height: 18px;
    font-size: 18px;
  }

}
